<footer class="footer-basic-centered">
  <p class="footer-company-motto">Vapeshows</p>

  <p class="footer-links">
    <%= link_to "Home", root_path, class: "lrm15" %>

    <%= link_to "About", root_path, class: "lrm15" %>

    <%= link_to "Contact", root_path, class: "lrm15" %>
  </p>

  <p class="footer-company-name">Vapeshows &copy; 2016</p>
</footer>
