

<div class="banner" style="background-image: linear-gradient(107deg, rgba(0,25,29,0.6) 0%, rgba(0,-344,27,0.3) 50%), url('http://www.quadrathell.cn.ua/_nw/18/94684225.jpg');">
  <div class="banner-content">
    <h1>Vape Shows</h1>
    <p>Where you find all shows</p>
    <div class="wrapper-form">
      <form class="form-inline" role="form" action="stores/search">
        <input type="text" class="form-control form-search" id='location' name="location" value="Los Angeles">
        <button type="submit" class="btn btn-default-search">Search</button>
      </form>
    </div>
  </div>
</div>


  <div class="logos-container text-center">
    <div class="container">
      <div class="col-md-6 logos-margin">
        <img src="">
      </div>
      <div class="col-md-6 logos-margin">
        <img src="">
      </div>
      <div class="col-md-6">
        <img src="">
      </div>
    </div>
  </div>

