

<div class="banner" style="background-image: linear-gradient(107deg, rgba(0,25,29,0.6) 0%, rgba(0,-344,27,0.3) 50%), url('http://www.quadrathell.cn.ua/_nw/18/94684225.jpg');">
  <div class="banner-content white">
    <h1>Vape Shows</h1>
    <p>Where you find all shows</p>
    <%= link_to events_path(@events) do %>
    <button class="button" style="vertical-align:middle"><span> Discover Events </span></button>
    <% end %>
    <div class="wrapper-form">

    </div>
  </div>
</div>



 <!--  <div class="logos-container text-center">
    <div class="container">
      <div class="row">

        <% @events.each do |x| %>
        <div class="image-crop col-xs-2">
          <%= cl_image_tag(x.logo) %>
        </div>
        <% end %>

      </div>
    </div>
  </div> -->
