/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "pages";
@import "events";
@import "users";
@import "navbar";
@import "cards";
@import "logo";
@import "banner";
@import "container";
@import "social";
@import "reviews";
@import "buttons";
@import "ratings";

h1,h2,h3,h4,h5,h6,p,ul,li {
  color: #384452;
}

.body-margin {
  width: 85%;
  margin: 0 auto;
}
.tbm15 {
  margin: 15px 0;
}
.tbm50 {
  margin: 50px 0;
}
.no-padding {
  padding: 0 0;
}
.line-bottom {
  border-bottom: solid 2px gray;
  line-height: 2em;
}
.line-top {
  border-top: solid 2px gray;
  line-height: 2em;
}
.line-height {
  line-height: 2em;
}
