.show-banner {
  min-height: 500px;
  img {
    // width: 100%;
    height: auto;
    display: block;
  }
  @media only screen and (max-width: 768px) {
    min-height: 300px
  }
}
.white {
  h1 {
    color: white;
  }
}
