// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper-form {
  width: 70%;
  margin: auto;
}
.gray-warning {
  color: gray;
}
