.image-crop {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 70px;
    height: auto;
  }
}
.logo-inside-card {
  width: 150px;
  img {
    width: 80px;
    border-radius: 50%;
    border: 2px black solid;
  }
  h1,h2,h3,h4,h5,p {
    color: white;
  }
}
.logo-rounded {
  img {
    width: 100px;
    border-radius: 50%;
  }
}
