.image-crop {
  min-height: 350px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
.logo-inside-card {
  position: absolute;
  width: 100px;
}
.logo-rounded {
  img {
    width: 100px;
    border-radius: 50%;
  }
}
