.image-crop {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 70px;
    height: auto;
  }
}
.logo-inside-card {
  width: 150px;
  position: relative;
  img {
    width: 80px;
    border-radius: 50%;
    // border: 2px black solid;
  }
  h1,h2,h3,h4,h5,p {
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
.logo-rounded {
  img {
    width: 100px;
    border-radius: 50%;
  }
}
.card-date {
  position: absolute;
  bottom: 25px;
  left: 0px;
  background-color: #3c3838;
  h3 {
    color: white;
    margin: 0 0;
    padding: 10px 10px;
    font-weight: 300;
  }
}
